.container {
  overflow-y: auto;
  position: relative;
  border-radius: 8px;
  background-color: #393939;
  contain: content;
}

.total {
  position: relative;
}

.inner {
  position: absolute;
  left: 0;
  right: 0;
  will-change: top;
}


